.w-webflow-badge {
  display: none !important;
}

.main__content--2 {
  max-width: 100%;
}

.main__container {
  margin-bottom: 5%;
}
.in__progress-section,
.todo__section,
.in__review--section {
  max-height: 720px;
  overflow-y: auto;
  padding-right: 5px;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 10px; /* Para rolagem vertical */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #747474, #a0a0a0, #d8d8d8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ffd700, #fcd848, #ffb303);
}

.container__completed {
  margin-bottom: 50px;
}

.in__progress--title,
.task__progress-title,
.in__progress-description,
.todo___description {
  display: block;
  word-wrap: break-word; /* Quebra palavras muito longas */
  overflow-wrap: break-word; /* Funciona como fallback */
  white-space: normal; /* Permite que o texto quebre */
}

.task__progress--opt-1 {
  text-align: center;
  z-index: 9999;
}

.field__in--editing {
  border: solid 2px white;
  border-radius: 10px;
}

.priority__low {
  color: #7bf03d;
  background-color: rgba(124, 240, 61, 0.425);
}
.priority__medium {
  color: #e8f051;
  background-color: #e8f05156;
}
.priority__high {
  color: #f3080b;
  background-color: #f3080c6b;
}

.overlay {
}
.form__container {
  max-width: 80%; /* Define a largura máxima do formulário */
  max-height: 90% !important;
  height: 70% !important;
}
.priority__btns {
  display: flex !important;
  gap: 50px !important;
}

.btn_low--active {
  background-color: #7bf03d;
  color: black;
  scale: 1.2;
}

.btn_medium--active {
  background-color: #e8f051;
  color: black;

  scale: 1.2;
}

.btn__high--active {
  background-color: #f3080b;
  color: black;

  scale: 1.2;
}
.image__select--label {
  color: aliceblue;
  font-weight: 600;
}
.image__select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 540px !important;
  height: 180px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
  width: 100%;
}

.carousel-item {
  flex-shrink: 0;
}
.carousel-item img.selected {
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.8), 0 0 10px rgba(255, 204, 1, 0.822),
    0 0 10px 5px rgba(255, 187, 0, 0.637); /* Gradiente dourado */
  border-radius: 10px;
  transition: border-image 0.3s ease;
}

.carousel-item img {
  margin-left: 5px;
  width: 165px !important;
  height: 160px !important;
  max-width: 100% !important;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel-item img:hover {
  transform: scale(1.1);
}

.carousel-btn {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10; /* Garante que fique sobre os itens do carrossel */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 40px; /* Ajuste para mover o botão um pouco mais para fora */
}

.next {
  right: 40px; /* Ajuste para mover o botão um pouco mais para fora */
}

.form__task--description--container {
  width: 80%;
  justify-content: center;
  align-items: center;
}
.form__task--description {
  width: 100%;
  margin: 0;
}
.btn__form--submit {
  color: aliceblue;
}
